.body1{
    background-color: rgb(255, 254, 254);
   font-family: 'Montserrat', 'Poppins' sans-serif ;
}.quadro{
    position: relative;
}
.edificio{
    width: 865px;
    height: 710px;
    margin-top: 10px;
   z-index: 1;
   margin-left: -1300px;
}
.modelo{
    width: 700px;
    margin-left: 600px;
   margin-top: -6px;
   position: relative;
}
.circulocentral{
    width: 490px;
    height: 490px;
    background-color: rgba(73, 201, 226, 0.235);
    border-radius: 900px;
    margin-top: -578px;
    margin-left: 40px;
    display: flex;
    align-items: center;

}
.texto{
   font-family: 'Montserrat', 'Poppins' sans-serif ;
    color: rgb(4, 27, 87);
    font-size: 22px;
    margin-left: 198px;
    margin-top: -407px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.seta{
    color: rgb(23, 91, 209);
   font-weight: bolder;
   margin-left: -1220px;
  font-size: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.orgulho{
    font-size: 60px;
    color: rgba(5, 72, 179, 0.838);
    margin-left: -738px;
    margin-top: -20px;
    font-weight: bolder;
    padding-bottom: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lasttext{
    color: rgb(1, 12, 30);
    font-size: 17px;
    margin-left: 108px;
    text-indent: 10px;
    margin-top: -55px;
}
.nossa{
color: rgb(1, 12, 30);
    font-size: 17px;
    margin-left: 108px;
    text-indent: 13px;
    margin-top: 2px;
}

.botao{
    background-color: rgb(5, 228, 228);
    color: rgb(6, 71, 168);
    border: 1px solid rgb(5, 228, 228);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin-left: 220px;
    margin-top: 49px;
}
.retangulo{
    height: 119px;
    width: 653px;
    background-color: rgb(0, 25, 251);
    margin-left: 700px;
    z-index: 3;
    margin-top: -371px;
  opacity: 0.2;
}
.feitos{
margin-left: 1130px;
margin-top: -110px;
color: rgb(255, 255, 255);
position: relative;
font-size: 26px;
font-weight: bold;
font-family: 'Montserrat', 'Poppins' sans-serif ;
}
.futuro{
   font-family: 'Montserrat', 'Poppins' sans-serif ;
    font-size: 100px;
    color: rgb(255, 255, 255);
    writing-mode: vertical-rl;
    margin-left: 1110px;
    position: relative;
    margin-top: -7px;
    font-weight: bold;
}
.de{
    color: rgb(255, 255, 255);
    margin-top: -396px;
    margin-left: 1130px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
.divazul{
    width: 1000px;
    height: 90px;
    background-color: rgb(38, 86, 163);
    margin-top: 423px;
    position: relative;
    margin-left: 300px;
   
}
.divverde{
    width: 30px;
    height: 90px;
    background-color: rgb(0, 251, 251);
}
.continuamos{
  color: white;
  font-size: 30px;
  margin-left: 200px;
  white-space: nowrap;
  margin-top: 100px;
  justify-content: center; 
  align-items: center; 
  border: none;  
  padding-top: 28px;
  padding-right: 10px;
  font-weight: bold;
}
.pontos{
   background-color: rgb(5, 228, 228);
    font-size: 40px;
    margin-top: -46px;
    position: relative;
    margin-left: 927px ;
    color: rgb(5, 228, 228);
    border-radius: 50px;
}