.body1 {
  background-color: rgb(255, 254, 254);
  font-family: 'Montserrat', 'Poppins' sans-serif;
}
.quadro {
  position: relative;
}
.edificio {
  width: 865px;
  height: 710px;
  margin-top: -267px;
  z-index: 1;
  margin-left: -1300px;
}
.modelo {
  width: 700px;
  margin-left: 600px;
  margin-top: -6px;
  position: relative;
}
.circulocentral {
  width: 490px;
  height: 490px;
  background-color: rgba(73, 201, 226, 0.235);
  border-radius: 900px;
  margin-top: -578px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  
}

.texto {
  font-family: 'Montserrat', 'Poppins' sans-serif;
  color: rgb(4, 27, 87);
  font-size: 22px;
  margin-left: 198px;
  margin-top: -407px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.seta {
  color: rgb(23, 91, 209);
  font-weight: bolder;
  margin-left: 17px;
  font-size: 30px;
  margin-top: 10px;
  display: flex;
}
.orgulho {
  font-size: 60px;
  color: rgba(5, 72, 179, 0.838);
  margin-left: -738px;
  margin-top: -95px;
  font-weight: bolder;
  padding-bottom: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lasttext {
  color: rgb(3, 44, 111);
  font-size: 17px;
  margin-left: 135px;
  display: flex;
  margin-top: -99px;
  font-weight: lighter;
}
.lastdois {
  color: rgb(3, 44, 111);
  font-size: 17px;
  margin-left: 112px;
  text-indent: 11px;
  padding-top: 6px;
  margin-top: 1px;
  font-weight: lighter;
}
.lasttres {
  font-size: 17px;
  margin-left: 112px;
  text-indent: 13px;
  margin-top: -18px;
  font-weight: lighter;
  color: rgb(3, 44, 111);
}
.nossa {
  color: rgb(3, 44, 111);
  font-size: 17px;
  margin-left: 123px;
  text-indent: 13px;
  margin-top: 2px;
  display: flex;
  padding-top: 6px;
  font-weight: lighter;
}

.botao {
  background-color: rgb(5, 228, 228);
  color: rgb(6, 71, 168);
  border: 1px solid rgb(5, 228, 228);
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-left: 220px;
  margin-top: 49px;
}
.botao:hover{
  background-color: rgb(3, 44, 111);
  color: rgb(255, 255, 255);
  
}
.retangulo {
  height: 119px;
  width: 580px;
  background-color: rgb(0, 25, 251);
  margin-left: 700px;
  z-index: 3;
  margin-top: -376px;
  opacity: 0.2;
  display: flex;
}
.feitos {
  margin-left: 1130px;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 26px;
  font-weight: bold;
  z-index: 3;
  margin-top: -131px;
  display: flex;
}
.futuro {
  font-family: 'Montserrat', 'Poppins' sans-serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
  writing-mode: vertical-rl;
  margin-left: 1110px;
  position: relative;
  margin-top: -36px;
  font-weight: bold;
}
.de {
  color: rgb(255, 255, 255);
  margin-top: -421px;
  margin-left: 1130px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}
.divazul {
  width: 980px;
  height: 90px;
  background-color: rgb(38, 86, 163);
  margin-top: 423px;
  position: relative;
  margin-left: 300px;
}
.divverde {
  width: 30px;
  height: 90px;
  background-color: rgb(0, 251, 251);
}
.continuamos {
  color: white;
  font-size: 30px;
  margin-left: 200px;
  white-space: nowrap;
  margin-top: 100px;
  display: flex;
  border: none;
  padding-top: 27px;
  padding-right: 10px;
  font-weight: bold;
}
.pontos {
  color: rgb(5, 228, 228);
  margin-top: -69px;
  position: relative;
  font-size: 38px;
  margin-left: 925px;
  border-radius: 30px;
}
