.body2 {
  background-color: rgb(255, 254, 254);
  font-family: 'Roboto', Sans-serif;
  margin-bottom: 20px;
  margin-top: 135px;
  gap: 1px;
  display: flex;
}
.body2 .seta {
  color: rgb(4, 38, 97);
  font-weight: bolder;
  margin-left: 14px;
  font-size: 30px;
  margin-top: 33px;
  display: flex;
}
.body2 div {
  background-color: white;
  border: 1.5px solid rgb(219, 219, 219);
  border-radius: 28px;
  width: 280px;
  height: 107px;
  margin-left: 11px;
  font-size: 12px;
  padding: 13px 25px 0 13px;
}
.body2 img {
  width: 100px;
  height: 73px;
  border-radius: 12px;
}
.body2 .licenciatura {
  margin-left: 116px;
  font-size: 16px;
  color: rgb(1, 47, 87);
  margin-bottom: 7px;
  margin-top: -87px;
}
.body2 .formacao {
  margin-left: 116px;
  font-size: 16px;
  color: rgb(1, 47, 87);
  margin-bottom: 7px;
  margin-top: -87px;
}
.body2 p {
  margin-left: 115px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(3, 31, 72);
  margin-bottom: 7px;
}
.body2 span {
  margin-left: 115px;
  font-size: 16px;
  color: rgb(1, 47, 87);
}
