.body4 {
  background-color: rgb(255, 254, 254);
  font-family: 'Roboto', Sans-serif;
}
.container-body4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 8px;
  margin-left: 2%;
  position: relative;
  margin-top: 80px;
}
.body4-academiabai {
  color: rgb(29, 92, 186);
  font-size: 22px;
  margin: 0;
  font-weight: lighter;
  padding-top: 8px;
}
.body4-espaco {
  color: rgb(3, 50, 89);
  margin: 0;
  padding-top: 8px;
}
.body4-paragrafo {
  color: rgb(0, 47, 86);
  margin-left: 19px;
  font-size: 14px;
  margin-top: -9px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  padding-top: 8px;
}
.body4-rodadasimagens {
  width: 627px;
  height: 235px;
  display: flex;
  position: relative;
}
.container-botoes {
  margin-top: 28px;
  gap: 14px;
  display: flex;
}
.body4-saibamais2 {
  background-color: rgb(38, 86, 163);
  width: 130px;
  height: 42px;
  color: white;
  margin-left: 25px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding-top: 1px;
}
.body4-agendarvisita {
  background-color: rgb(6, 236, 236);
  color: rgb(28, 69, 130);
  border: 1px solid rgb(5, 228, 228);
  border-radius: 10px;
  width: 160px;
  height: 42px;
  font-size: 15px;
  margin-left: 10px;
  padding-right: 3px;
  padding-top: 1px;
}
.body4-baixar {
  background-color: rgb(6, 236, 236);
  width: 48px;
  height: 48px;
  border: 1px solid rgb(5, 228, 228);
  border-radius: 500px;
  padding-top: 1px;
  display: flex;
  margin-left: 10px;
  margin-top: 0px;
}
.container-rodadasimagens {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: auto;
  padding-top: 8px;
  margin-left: 49%;
  position: relative;
  margin-top: -219px;
  gap: 9px;
  white-space: nowrap;
}
.container-setas {
  display: flex;
  gap: 542px;
  margin-top: 95px;
  margin-left: 10px;
  position: absolute;
}
.body4-botao {
  background-color: rgb(6, 236, 236);
  color: rgb(3, 50, 89);
  border-radius: 50px;
  width: 33px;
  height: 33px;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  text-align: center;
  padding-left: 11px;
  padding-top: 3px;
}
.icone-bookmark {
  color: rgb(3, 50, 89);
  font-size: 10px;
}
