 .fichamaior{
    width: 980px;
    height: 90px;
    background-color: rgb(38, 86, 163);
    margin-top: 423px;
    position: relative;
    margin-left: 300px;
 }
 .fichamenor{
     width: 30px;
    height: 90px;
    background-color: rgb(0, 251, 251);
 }
p{
  color: white;
  font-size: 30px;
  margin-left: 200px;
  white-space: nowrap;
  margin-top: 100px;
  display: flex;
  border: none;  
  padding-top: 28px;
  padding-right: 10px;
  font-weight: bold;
}
h1{
    color: white;
  font-size: 30px;
  margin-left: 200px;
  white-space: nowrap;
  margin-top: 100px;
  display: flex;
  border: none;  
  padding-top: 28px;
  padding-right: 10px;
  font-weight: bold;
}