.fichamaior {
  width: 1065px;
  height: 115px;
  background-color: rgb(38, 86, 163);
  margin-top: 73px;
  position: relative;
  margin-left: 212px;
}
.fichamenor {
  width: 14px;
  height: 116px;
  background-color: rgb(0, 251, 251);
   margin-left: 0px;
   margin-top: -88px;
}
p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-left: 336px;
  white-space: nowrap;
  margin-top: -22px;
  display: flex;
  border: none;
  padding-top: 28px;
  padding-right: 10px;
  font-weight: lighter;
}
h1 {
  color: white;
  font-size: 30px;
  margin-left: 349px;
  white-space: nowrap;
  margin-top: 100px;
  display: flex;
  border: none;
  padding-top: 28px;
  padding-right: 10px;
  font-weight: bold;
}
