.cabecalhoFichamaior {
  width: 1065px;
  height: 115px;
  margin-top: 53px;
  position: relative;
  margin-left: 227px;
  display: flex;
  align-items: center;
}
.cabecalho--default .cabecalhoFichamaior {
  background-color: rgb(33, 94, 192);
}
.cabecalho--espacos .cabecalhoFichamaior {
  background-color: rgb(33, 94, 192);
}
.cabecalhoFichamenor {
  width: 14px;
  height: 115px;
  background-color: rgb(0, 251, 251);
  position: absolute;
  margin-right: 10px;
}
p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-left: 336px;
  white-space: nowrap;
  display: flex;
  border: none;
  padding-top: 4px;
  padding-right: 10px;
  font-weight: lighter;
  font-family: 'Roboto', Sans-serif;
}
h1 {
  color: white;
  font-size: 32px;
  margin-left: 324px;
  margin-top: 100px;
  padding-top: 28px;
  padding-right: 10px;
  font-weight: bold;
  font-family: 'Roboto', Sans-serif;
}
.cabecalhoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12%;
  margin-left: 0%;
}
