header {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', Sans-serif;
}
.caixa2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(228, 234, 243, 0.374);
  padding: 10px;
  height: 70px;
  width: 800px;
  margin-left: 150px;
  border-radius: 20px;
  padding: 10px;
  align-content: center;
  margin-top: -8px;
}
.barra2 {
  width: 160px;
  height: 35px;
  border-radius: 11px;
  border: 1px solid rgb(37, 91, 179);
  padding: 10px;
  font-size: 14px;
  background-color: rgb(37, 91, 179);
  color: white;
  margin-left: 30px;
}
.pesquisa2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lupa2 {
  width: 25px;
  height: 27px;
  margin-top: 1px;
  margin-left: -28px;
  display: flex;
}
.label6 {
  font-size: 16px;
  font-weight: 1;
  margin-left: -20px;
  color: rgb(37, 91, 179);
  padding: 5px;
  width: 126px;
}
.label7 {
  font-size: 16px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.label8 {
  font-size: 16px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.label9 {
  font-size: 16px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.label10 {
  font-size: 16px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.menu2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  color: #f5f5f5;
}
.isaf-img {
  width: 133px;
  height: 75px;
  margin-left: 15px;
  margin-top: -11px;
  align-content: center;
  justify-content: center;
}
.circulomaior2 {
  width: 60px;
  height: 60px;
  background-color: rgba(228, 234, 243, 0.374);
  border: 1px solid rgba(228, 234, 243, 0.374);
  border-radius: 500px;
  margin-left: 761px;
}
.circulomenor2 {
  width: 42px;
  height: 42px;
  background-color: rgb(44, 95, 176);
  border: 1px solid rgb(44, 95, 176);
  border-radius: 500px;
  align-items: center;
  display: flex;
  margin-left: 8px;
  margin-top: 8px;
}
.circulomenor:hover {
  background-color: #07dfdf;
  border: none;
}
.circulomenor:hover .bolinha4 {
  background-color: rgb(3, 44, 111);
}
.circulomenor:hover .bolinha5 {
  background-color: rgb(3, 44, 111);
}
.circulomenor:hover .bolinha6 {
  background-color: rgb(3, 44, 111);
}
.bolinha4 {
  width: 5px;
  height: 5px;
  margin-left: 18px;
  border: none;
  border-radius: 900px;
  background-color: rgb(255, 255, 255);
  margin-top: -14px;
}

.bolinha5 {
  width: 5px;
  height: 5px;
  margin-left: -0px;
  border: none;
  border-radius: 900px;
  margin-top: 3px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 36px;
}
.bolinha6 {
  width: 5px;
  height: 5px;
  margin-left: -0px;
  background-color: rgb(255, 255, 255);
  margin-top: 7px;
  border: none;
  border-radius: 900px;
}
.botoes2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -700px;
}
.containerheader {
  display: flex;
  position: relative;
  z-index: 10;
}
.rota1 {
  margin-left: 1px;
}
