.geral{
font-family: 'Montserrat', 'Poppins' sans-serif ;
}
.footer{
    width: auto;
  margin: 0;
    height: 400px;
    background-color: rgba(221, 232, 236, 0.726);
    margin-top: 70px;
    z-index: 1;
}
.icone{
     width: 179px;
    height: 97px;
   margin-left: 10px;
   margin-top: -341px;
   display: flex;
   position: relative;
}
.criada{
    margin-left: 15px;
    color: rgb(3, 30, 72);
    margin-top: -8px;
    line-height: 1.6;
    font-size: 15px;
    font-weight: lighter;
}
.titulo{
    font-weight: bold;
    font-size: 15px;
}
.grupo1{
    margin-left: 181px;
    margin-top: -198px;
    color: rgb(3, 30, 72);
    font-size: 15px;
   
}
.grupo2{
     margin-left: 368px;
    margin-top: -193px;
    color: rgb(3, 30, 72);
    font-size: 15px;
}
.atalhos{
    font-weight: bold;
    font-size: 15px;
}
.grupo3{
     margin-left: 518px;
    margin-top: -142px;
    color: rgb(3, 30, 72);
    font-size: 15px;
}
.qualidade{
     font-weight: bold;
    font-size: 15px;
}
.contatos{
     margin-left: 932px;
    margin-top: -113px;
    color: rgb(3, 30, 72);
    font-size: 18px;
     font-weight: bold;
    font-size: 15px;
}
.avenida{
     margin-left: 956px;
    margin-top: -18px;
    color: rgb(3, 30, 72);
    font-size: 15px;
}
.resto{
    margin-left: 922px;
   width: 32px;
  margin-top: -112px;
  display: flex;
  height: 103px;

}
.AB{
     margin-left: 956px;
    margin-top: -34px;
    color: rgb(3, 30, 72);
    font-size: 15px;
}.number{
    margin-left: 956px;
    margin-top: -35px;
    color: rgb(3, 30, 72);
    font-size: 15px;
}
.email{
     margin-left: 956px;
    margin-top: -37px;
    color: rgb(3, 30, 72);
    font-size: 15px;
}
.cincobolinhas{
    width: 400px;
    height: 86px;
    margin-left: 878px;
   margin-top: 18px;
   display: flex;
}
.final{
    width: 1280px;
    height: 43px;
    background-color:rgb(0, 86, 185);
  margin-top: 70px;
   
}
.politica{
    margin-left: 20px;
    color: white;
   padding-top: 11px;
}
.centro{
     margin-left: 500px;
    color: rgb(255, 255, 255);
   padding-top: 15px;
    margin-top: -33px;
   
}
.redessociais{
     padding-top: 15px;
    margin-top: -36px;
    margin-left: 1130px;
    display: flex;
    width: 139px;
    height: 36px;

}