.geral {
  background-color: #e9eff2;
  font-family: 'Roboto', sans-serif;
}

.footer-conteudo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 77px 33px;
  gap: 124px;
}

.footer-esquerda {
  max-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: -14px 0px 0px 0px;
  left: 0;
  text-align: left;
}

.footer-icone {
  width: 205px;
}

.criada {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(3, 30, 72);
  margin-left: -10px;
}

.container-grupos {
  display: flex;
  gap: 42px;
}

.footer-grupo1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-titulo {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(3, 30, 72);
}

.footer-subtitulo {
  font-size: 16px;
  color: rgb(3, 30, 72);
}

.linha-contacto {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.footer-final {
  background-color: rgb(0, 86, 185);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 60px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.icone-localizacao {
  color: rgb(0, 86, 185);
  font-size: 14px;
}
.icone-contacto {
  color: rgb(0, 86, 185);
  font-size: 14px;
}
.icone-email {
  color: rgb(0, 86, 185);
  font-size: 14px;
}
.container-redessociais {
  display: flex;
  font-size: 18px;
  gap: 27px;
}
