.header-formacao {
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  max-width: 1200vw;
  height: auto;
  gap: 120px;
  max-height: 1500vh;
}
body {
  background-color: #ffffff;
}
.caixa3 {
}
.academia-formacao {
  max-width: 20vw;
  max-height: 8vw;
  border-radius: 5px;
}
.barra3 {
  width: 665px;
  height: 34px;
  border-radius: 14px;
  border: 1px solid rgb(193, 8, 8);
  padding: 10px;
  font-size: 0.7rem;
  background-color: rgb(193, 8, 8);
  color: rgb(247, 245, 245);
}
.pesquisa3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -609px;
  margin-top: 13px;
}
.lupa-formacao {
  width: 3%;
  height: 3%;
  color: white;
}
.cursos-disponiveis {
  width: 201px;
  height: 50px;
  border-radius: 30px;

  margin-top: 10px;
  margin-left: 8px;
  font-size: 17px;
}
.containerheader2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 700vw;
}
.container-titulos {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
}
.primeiro-titulo {
  font-weight: bold;
  color: white;
  font-size: 60px;
  text-align: center;
}
.segundo-titulo {
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  color: rgb(186, 184, 184);
}
.body-formacao {
  background-color: #0b7489;
  height: auto;
  font-family: 'Roboto', Sans-serif;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.academia-formacao-body {
  width: 50rem;
  height: 22rem;
  border-radius: 22px;
  z-index: 2;
}
.container-formacao {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 100px 0 0 10px;
}
.container-formacao-dois {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.formacao-sobrenos2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: lighter;
}
.formacao h1 {
  margin-left: 621px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  margin: 0;
  padding-top: 8px;
  font-weight: lighter;
}
.formacao p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.9;
  font-weight: 370;
  margin: 0;
  padding-top: 8px;
  font-weight: lighter;
}
