header {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', Sans-serif;
}
.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(228, 234, 243, 0.374);
  padding: 10px;
  height: 70px;
  width: 839px;
  margin-left: 117px;
  border-radius: 20px;
  padding: 10px;
  align-content: center;
  margin-top: -8px;
}
.barra {
  width: 160px;
  height: 35px;
  border-radius: 11px;
  border: 1px solid rgb(37, 91, 179);
  padding: 10px;
  font-size: 14px;
  background-color: rgb(37, 91, 179);
  color: white;
  margin-left: 30px;
}
.pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lupa {
  width: 25px;
  height: 27px;
  margin-top: 1px;
  margin-left: -28px;
  display: flex;
}
.label1 {
  font-size: 17px;
  font-weight: 350;
  margin-left: -20px;
  color: rgb(37, 91, 179);
  padding: 5px;
  width: 126px;
  white-space: nowrap;
}
.label2 {
  font-size: 17px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.label3 {
  font-size: 17px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.label4 {
  font-size: 17px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.label5 {
  font-size: 17px;
  font-weight: 1;
  margin-left: 20px;
  color: rgb(25, 12, 67);
  padding: 5px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  color: #f5f5f5;
}
.logo {
  width: 141px;
  height: 75px;
  margin-left: 15px;
  margin-top: -11px;
  align-content: center;
  justify-content: center;
}
.circulomaior {
  width: 63px;
  height: 63px;
  background-color: rgba(228, 234, 243, 0.374);
  border: 1px solid rgba(228, 234, 243, 0.374);
  border-radius: 500px;
  margin-left: 722px;
}
.circulomenor {
  width: 45px;
  height: 45px;
  background-color: rgb(44, 95, 176);
  border: 1px solid rgb(44, 95, 176);
  border-radius: 500px;
  align-items: center;
  display: flex;
  margin-left: 8px;
  margin-top: 8px;
}
.circulomenor:hover {
  background-color: #07dfdf;
  border: none;
}
.circulomenor:hover .bolinha1 {
  background-color: rgb(3, 44, 111);
}
.circulomenor:hover .bolinha3 {
  background-color: rgb(3, 44, 111);
}
.circulomenor:hover .bolinha4 {
  background-color: rgb(3, 44, 111);
}
.bolinha1 {
  width: 6px;
  height: 6px;
  margin-left: 19px;
  border: none;
  border-radius: 900px;
  background-color: rgb(255, 255, 255);
  margin-top: -17px;
}

.bolinha3 {
  width: 6px;
  height: 6px;
  margin-left: -0px;
  border: none;
  border-radius: 900px;
  margin-top: 3px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 36px;
}
.bolinha4 {
  width: 6px;
  height: 6px;
  margin-left: -0px;
  background-color: rgb(255, 255, 255);
  margin-top: 9px;
  border: none;
  border-radius: 900px;
}
.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -700px;
}
.containerheader {
  display: flex;
  position: relative;
  z-index: 10;
}
.rota1 {
  margin-left: 1px;
}
