.body1{
    background-color: rgb(255, 254, 254);
   font-family: 'Montserrat', 'Poppins' sans-serif ;
}.quadro{
    position: relative;
}
.edificio{
    width: 865px;
    height: 710px;
    margin-top: 10px;
   z-index: 1;
   margin-left: -1300px;
}
.modelo{
    width: 700px;
    margin-left: 600px;
   margin-top: -6px;
   position: relative;
}
.circulocentral{
    width: 490px;
    height: 490px;
    background-color: rgba(73, 201, 226, 0.235);
    border-radius: 900px;
    margin-top: -578px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    

}
.texto{
   font-family: 'Montserrat', 'Poppins' sans-serif ;
    color: rgb(4, 27, 87);
    font-size: 22px;
    margin-left: 198px;
    margin-top: -407px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.seta{
    color: rgb(23, 91, 209);
   font-weight: bolder;
   margin-left: 17px;
  font-size: 30px;
  margin-top: 10px;
  display: flex;
  
}
.orgulho{
    font-size: 60px;
    color: rgba(5, 72, 179, 0.838);
    margin-left: -738px;
    margin-top: -20px;
    font-weight: bolder;
    padding-bottom: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lasttext{
    color: rgb(3, 44, 111);
    font-size: 17px;
    margin-left: 135px;
    display: flex;
    margin-top: -55px;
}
.lastdois{
    color: rgb(3, 44, 111);;
    font-size: 17px;
    margin-left: 112px;
    text-indent: 11px;
      padding-top: 6px;
}
.lasttres{
     font-size: 17px;
    margin-left: 112px;
    text-indent: 13px;
   

}
.nossa{
color:rgb(3, 44, 111);
    font-size: 17px;
    margin-left: 123px;
    text-indent: 13px;
    margin-top: 2px;
    display: flex;
    padding-top: 6px;
}

.botao{
    background-color: rgb(5, 228, 228);
    color: rgb(6, 71, 168);
    border: 1px solid rgb(5, 228, 228);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin-left: 220px;
    margin-top: 49px;
}
.retangulo{
    height: 119px;
    width: 580px;
    background-color: rgb(0, 25, 251);
    margin-left: 700px;
    z-index: 3;
    margin-top: -376px;
  opacity: 0.2;
  display: flex;
}
.feitos{
margin-left: 1130px;

color: rgb(255, 255, 255);
position: relative;
font-size: 26px;
font-weight: bold;
z-index: 3;
margin-top: -107px;
display: flex;

}
.futuro{
   font-family: 'Montserrat', 'Poppins' sans-serif ;
    font-size: 100px;
    color: rgb(255, 255, 255);
    writing-mode: vertical-rl;
    margin-left: 1110px;
    position: relative;
    margin-top: -7px;
    font-weight: bold;
}
.de{
    color: rgb(255, 255, 255);
    margin-top: -396px;
    margin-left: 1130px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}
.divazul{
    width: 980px;
    height: 90px;
    background-color: rgb(38, 86, 163);
    margin-top: 423px;
    position: relative;
    margin-left: 300px;
   
}
.divverde{
    width: 30px;
    height: 90px;
    background-color: rgb(0, 251, 251);
}
.continuamos{
  color: white;
  font-size: 30px;
  margin-left: 200px;
  white-space: nowrap;
  margin-top: 100px;
  display: flex;
  border: none;  
  padding-top: 28px;
  padding-right: 10px;
  font-weight: bold;
}
.pontos{
   background-color: rgb(5, 228, 228);
    font-size: 40px;
    margin-top: -46px;
    position: relative;
    margin-left: 927px ;
    color: rgb(5, 228, 228);
    border-radius: 10px;
}


.body2{
    background-color: rgb(255, 254, 254);
   font-family: 'Montserrat', 'Poppins' sans-serif ;
   margin-bottom: 20px;
}
.setadireita{
    color: rgb(4, 38, 97);
   font-weight: bolder;
   margin-left: 14px;
  font-size: 30px;
  margin-top: 82px;
  display: flex;
}
.div1{
    background-color: white;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 28px;
    width: 270px;
    height: 107px;
    margin-left: 50px;
    margin-top: -70px;
    font-size: 12px;
}
.Contabilidade{
    width: 100px;
    height: 73px;
    border-radius: 12px;
    margin-left: 13px;
    margin-top: 16px;
}
.licenciatura1{
    margin-left: 140px;
    margin-top: -79px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.contabilidade{
margin-left: 140px;
    margin-top: 5px;
   font-size: 15px;
   font-weight: 700;
   color: rgb(3, 31, 72);
}
.data{
margin-left: 140px;
    margin-top: 6px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.segundadiv{
     background-color: white;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 28px;
    width: 280px;
    height: 109px;
    margin-left: 340px;
    margin-top: -108px;
}
.imagem2{
     width: 100px;
    height: 74px;
    border-radius: 12px;
    margin-left: 14px;
    margin-top: 15px;
}
.licenciatura2{
    margin-left: 143px;
    margin-top: -78px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.gestao{
    margin-left: 141px;
    margin-top: 6px;
   font-size: 15px;
   font-weight: 700;
   color: rgb(3, 31, 72);
}
.data2{
    margin-left: 139px;
    margin-top: 7px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.terceiradiv{
     background-color: white;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 28px;
    width: 280px;
    height: 109px;
    margin-left: 640px;
    margin-top: -110px;
}
.imagem3{
     width: 100px;
    height: 75px;
    border-radius: 12px;
    margin-left: 14px;
    margin-top: 15px;
}
.licenciatura3{
     margin-left: 138px;
    margin-top: -78px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.informatica{
     margin-left: 138px;
    margin-top: 4px;
   font-size: 15px;
   font-weight: 700;
   color: rgb(3, 31, 72);
}
.data3{
     margin-left: 137px;
    margin-top: 7px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.quartadiv{
 background-color: white;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 28px;
    width: 280px;
    height: 111px;
    margin-left: 940px;
    margin-top: -110px;
}
.imagem4{
     width: 100px;
    height: 77px;
    border-radius: 12px;
    margin-left: 14px;
    margin-top: 15px;
}
.formacao{
     margin-left: 137px;
    margin-top: -80px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.manutencao{
     margin-left: 136px;
    margin-top: 4px;
   font-size: 15px;
   font-weight: 700;
   color: rgb(3, 31, 72);
}
.data4{
     margin-left: 136px;
    margin-top: 9px;
   font-size: 15px;
   color: rgb(1, 47, 87);
}
.setadireita1{
     color: rgb(4, 38, 97);
   font-weight: bolder;
   margin-left: 1237px;
  font-size: 30px;
  margin-top: -74px;
}
.body3{
  background-color: rgb(255, 254, 254);
   font-family: 'Montserrat', 'Poppins' sans-serif ;
   margin-top: 45px;
}
.moco{
    margin-left: 5px;
    width: 200px;
    height: 349px;
    margin-top: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.idoso{
    width: 200px;
    height: 350px;
    margin-top: 50px;
  margin-left: -10px;
}
.moca{
     width: 200px;
    height: 349px;
    margin-top: 50px;
  margin-left: -10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.faixa1{
      height: 100px;
    width: 590px;
    background-color: rgb(6, 30, 250);
    margin-left: 0.5px;
    z-index: 3;
    margin-top: -280px;
  opacity: 0.2;
}
.faixa2{
    height: 100px;
    width: 620px;
    background-color: rgb(6, 30, 250);
    margin-left: -7px;
    z-index: 3;
    margin-top: -100px;
}
.sobrenos{
    color: rgb(45, 98, 179);
    font-size: 22px;
    margin-left: 624px;
    margin-top: -160px;
}
.umacademia{
     margin-left: 621px;
     margin-top: -1px;
     color: rgb(3, 50, 89);
     font-size: 30px;
}
.textao{
     margin-left: 624px;
     margin-top: 14px;
     color: rgb(0, 47, 86);
     font-size: 13px;
}
.saibamais{
    background-color: rgb(38, 86, 163);
    width: 130px;
    height: 42px;
    color: white;
    margin-left: 623px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    position: static;
    margin-top: 23px;
}
.bolinhapri{
    width: 1270px;
  margin-top: 169px;
 
}
.body4{
    background-color: rgb(255, 254, 254);
   font-family: 'Montserrat', 'Poppins' sans-serif ;
}
.academiabai{
    color: rgb(45, 98, 179);
    font-size: 22px;
    margin-left: 19px;
    margin-top: 70px;
}
.espaco{
     color: rgb(3, 50, 89);
     margin-left: 17px;
     margin-top: 19px;
}
.textao2{
     color: rgb(0, 47, 86);
     margin-left: 18px;
     font-size: 14px;
     margin-top: 26px;
     line-height: 1.6;
}
.rodadasimagens{
    margin-left: 670px;
    margin-top: -248px;
    width: 600px;
    height: 250px;
    display: flex;
   position: relative;
}
.mundo{
      margin-left: 30px;
    width: 900px;
  margin-top: -115px;
   position: absolute;
  top: 120%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.saibamais2{
     background-color: rgb(38, 86, 163);
    width: 130px;
    height: 42px;
    color: white;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 12px;
}
.agendarvisita{
    background-color:  rgb(6, 236, 236);
    color: rgb(28, 69, 130);
    border: 1px solid rgb(5, 228, 228);
    border-radius: 10px;
    width: 160px;
    height: 42px;
    font-size: 15px;
    margin-left: 12px;
    padding-right: 30px;
}
.laço{
    width: 16px;
    height: 21px;
    margin-top: -32px;
    margin-left: 273px;
    display: flex;
}
.baixar{
    background-color:rgb(6, 236, 236);
     width: 48px;
    height: 48px;
    border: 1px solid rgb(5, 228, 228);
    border-radius: 500px;
    margin-left: 328px;
    margin-top: -36px;
    display: flex;
}
.download{
    width: 31px;
    height: 34px;
     margin-left: 335px;
    margin-top: -41px;
   display: flex;
   padding-left: 2px;
   padding-right: -12px;
}
.faixaazul{
     width: 1200px;
    height: 160px;
    background-color: rgba(0, 55, 111, 0.922);
    margin-top: 143px;
    position: relative;
    margin-left: -8px;
}
.faixaverde{
      width: 33px;
    height: 160px;
    background-color: rgb(5, 228, 228);
    margin-left: 1200px;
   position: relative;

}
.botaopri{
    background-color:rgb(6, 236, 236);
    color: rgb(3, 50, 89);
    border-radius: 50px;
    width: 33px;
    height: 33px;
    margin-top: -449px;
    margin-left: 687px;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    position: absolute;
    padding-left: 9px;
    padding-top: 5px;
}
.botaoseg{
     background-color: rgb(6, 236, 236);
    color: rgb(3, 50, 89);
    border-radius: 50px;
    width: 33px;
    height: 33px;
    margin-top: -450px;
    margin-left: 1228px;
     font-weight: bolder;
    font-size: 20px;
    position: absolute;
}
.body5{
    font-family: 'Montserrat', 'Poppins' sans-serif ;
}
.maispubli{
     background-color: rgb(38, 86, 163);
    width: 200px;
    height: 42px;
    color: white;
    margin-left: 1050px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 95px;
}
.segundaacademia{
     color: rgb(45, 98, 179);
    font-size: 18px;
    margin-left: 24px;
    margin-top: -46px;
    display: flex;
}
.ultimaspubli{
    color: rgb(3, 50, 89);
     margin-left: 21px;
     margin-top: 6px;
     font-size: 27px;
}
.caixinha0{
     width: 220px;
    height: 280px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(217, 225, 225, 0.831);
    margin-top: 18px;
    margin-left: 17px;
    background-color: rgb(255, 255, 255);
}
.presidente{
     width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-left: 18px;
    margin-top: 20px;
}
.condecorada{
      margin-left: 20px;
    margin-top: 5px;
    color: rgb(3, 50, 89);
}
.artigorecente{
     background-color: rgb(5, 228, 228);
    color: rgb(41, 88, 159);
    border: none;
    border-radius: 7px;
    height: 26px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 9px;
    display: flex;
    width: 100px;
    padding-left: 10px;
    padding-top: 5px;
}
.lerpubli{
     color: rgb(38, 86, 163);
    margin-left: 20px;
    display: flex;
    margin-top: 7px;
}
.caixinha{
    width: 220px;
    height: 280px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(217, 225, 225, 0.831);
    margin-top: -281px;
    margin-left: 272px;
    background-color: rgb(255, 255, 255);
}
.tias{
    width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.isaf{
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(3, 50, 89);
}
.dataoito{
   background-color: rgba(203, 223, 230, 0.726);
    color: rgb(41, 88, 159);
    border: none;
    border-radius: 7px;
    height: 26px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 8px;
    width: 70px;
    display: flex;
     padding-left: 6px;
    padding-top: 5px;
}
.lerpubli{
    color: rgb(38, 86, 163);
    margin-left: 20px;
    font-weight: 900;
}
.caixinha2{
      width: 220px;
    height: 280px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(217, 225, 225, 0.831);
    margin-top: -280px;
    margin-left: 525px;
    background-color: rgb(255, 255, 255);
}
.conferencia{
    width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.isaf2{
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(3, 50, 89);
}
.data5{
     background-color: rgba(203, 223, 230, 0.726);
   color: rgb(41, 88, 159);
    border: none;
    border-radius: 7px;
    height: 26px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 6px;
    width: 70px;
    display: flex;
     padding-left: 6px;
    padding-top: 5px;
}
.caixinha3{
     width: 220px;
    height: 280px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(217, 225, 225, 0.831);
    margin-top: -281px;
    margin-left:780px;
    background-color: rgb(255, 255, 255);
}
.confe2{
      width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.isafencerra{
     margin-left: 20px;
    margin-top: 5px;
    color: rgb(3, 50, 89);
}
.data6{
    background-color: rgba(203, 223, 230, 0.726);
   color: rgb(41, 88, 159);
    border: none;
    border-radius: 7px;
    height: 26px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 7px;
     width: 70px;
    display: flex;
     padding-left: 6px;
    padding-top: 5px;
}
.caixinha4{
     width: 220px;
    height: 280px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(217, 225, 225, 0.831);
    margin-top: -285px;
    margin-left:1036px;
    background-color: rgb(255, 255, 255);
}
.senhora{
     width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.RH{
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(3, 50, 89);
}
.data7{
    background-color: rgba(203, 223, 230, 0.726);
   color: rgb(41, 88, 159);
    border: none;
    border-radius: 7px;
    height: 26px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 7px;
     width: 70px;
    display: flex;
     padding-left: 6px;
    padding-top: 5px;
}
.caixinha5{
     width: 220px;
    height: 280px;
    border: none;
    border-radius: 30px;
    border: 2px solid rgba(217, 225, 225, 0.831);
    margin-top: -285px;
    margin-left:1050px;
    background-color: rgb(255, 255, 255);
}
.senhor{
     width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.etica{
     margin-left: 20px;
    margin-top: 5px;
    color: rgb(3, 50, 89);
}
.data8{
     background-color: rgba(203, 223, 230, 0.726);
   color: rgb(41, 88, 159);
    border: none;
    border-radius: 7px;
    height: 26px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: -10px;
}
.bolinhapri{
    margin-left: 10px;
    width: 1270px;
  margin-top: 128px;
}