.mundo-faixaazul {
  width: 1265px;
  height: 160px;
  background-color: rgba(0, 55, 111, 0.922);
  margin-top: 124px;
  position: relative;
}
.mundo-faixaazul div {
  width: 18px;
  height: 160px;
  background-color: rgb(5, 228, 228);
  position: absolute;
  top: 0;
  right: 0;
}
.mundo-faixaazul img {
  margin-left: 30px;
  width: 990px;
  padding-top: 43px;
}
