.menu1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(228, 234, 243, 0.374);
  border-radius: 12px;
  padding: 10px 20px;
  width: fit-content;
  max-width: 233px;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  margin-top: 375px;
  margin-left: 245px;
}

.link {
  display: block;
  text-decoration: none;
  color: rgb(3, 30, 72);
  font-size: 15px;
  font-weight: lighter;
  white-space: nowrap;
  margin-left: 2px;
  margin-top: 10px;
}

.link:hover {
  color: white;
  background-color: #025ab3;
}
/*228,234,243,0.374*/
