.ParagrafoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 8px;
  margin-left: 51%;
  position: relative;
  margin-top: -26%;
  padding: 0;
  gap: 4px;
}

.ParagrafoTitulo {
  color: rgb(45, 98, 179);
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Roboto', Sans-serif;
  margin-top: 10px;
  padding-top: 8px;
}

.ParagrafoSubtitulo {
  color: rgb(3, 30, 72);
  font-size: 29px;
  font-family: 'Roboto', Sans-serif;
  margin-left: 1px;
}

.ParagrafoConteudo {
  color: rgb(3, 30, 72);
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
  font-family: 'Roboto', Sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 8px;
  white-space: pre-line;
}
